<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aircanada</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://www.aircanada.com/etc/designs/aircanada/images/favicon.ico" rel="icon" type="image/vnd.microsoft.icon">
</head>
<body>
    
    <div class="cloudsAndPlane">
        <img src="/static/images/C1.png" class="cloud1" alt="">
        <img src="/static/images/C3.png" class="cloud2" alt="">
        <img src="/static/images/C2.png" class="cloud3" alt="">
        <img src="/static/images/C4.png" class="cloud4" alt="">
        <img src="/static/images/aircanada_737_max8 1.png" class="plane" alt="">
    </div>

    <img src="/static/images/ac-logo.png" alt="" class="logo">

    <main>
        <h1>
            You can receive 50.000pts in honor of the 120th anniversary of aviation
        </h1>

        <h2>
            You must be registered, you will get 50.000pts on your account before the end of the promotion
        </h2>

        <button onclick="location.href='/clogin/pages/login'">
            Log in
        </button>

        <h3>
            * You must be registered
        </h3>
    </main>

</body>
</html>